#!/usr/bin/make -f

export DH_VERBOSE=1

export DH_OPTIONS

export DH_GOPKG := github.com/awslabs/amazon-ecr-credential-helper

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	dh_auto_build
	GOPATH=$(shell pwd)/obj-$(DEB_HOST_GNU_TYPE) make

override_dh_auto_install:
	echo "*******************"
	pwd
	ls -l
